<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Places You Have Been</title>
</head>
<body>
    <div class="container">
        <h1>You added a place!</h1>
        <p>{{ newplace.getCity }}</p>
        <p><a href='/'>View the list of places you've visited</a></p>
    </div>
</body>
</html>
